body {
    background-color: #18CEFB;
    margin: 0;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

article {
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.content{
    width: 60%;
    margin: 0 auto;
}

.content p {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

form label, input, textarea{
    width: 100%;
}

p, h1, label, input {
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.content p {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 100%;
}

footer h1{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 0;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.carousel-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
  
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}
  
.carousel-slide img {
    width: 100%;
    height: auto;
}
  
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
  
#prevBtn {
    left: 0;
}
  
#nextBtn {
    right: 0;
}

.G {
    left:4%;
}

.D {
    right:4%;
}

.contact {
    position: absolute;
}